.pay22{
    text-align: center;
    margin-top: 2%;
    padding: 30px 30px 30px 30px;
    background-color:  #0072b4;
    margin-left: 22%;
    margin-right: 22%;
    color: white;
}
.cor1{
    height: 45%;
    width: 30%;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: 35%;
}